body{ 
	width: 100%;
    color: #3881b8;
    font-size: 14px;
    font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;
    background-color: #d5d6d8
}
.main{
     width:355px;
    margin: 0 auto  
}
.contain{
    width:355px;
    margin-top: 70px;
    border: 1px solid #bbbbbb;
    border-radius: 5px;
    background-color: #fff;
    float:left;
     min-height: 200px
}
.containBody{
	width: 335px;
	margin:10px;
	background-color: #d5d6d8;
	border: 1px solid #e7e7e7;
	float:left;
	min-height: 200px
}
.containBody input.text{
	border: 1px solid #e7e7e7;
	border-radius: 5px;
	 margin: 10px 20px 0;
	width:225px;
	box-shadow: -1px -1px 1px #000000;
    color: #668dac;
    font-size: 18px;
    font-weight: bold;
    padding: 0px
}
.textBox{
	float:left;
	margin-bottom: 20px;
}

.addButton{
    float: left;
     margin: 100px 10px 0;
    padding: 0;
    width: 80px
}
.addButton input{
    background:  #306994;
    border: 1px solid #306994;
    border-radius: 5px 5px 5px 5px;
    color: #FFFFFF;
    cursor: pointer; 
    min-height: 24px;
    width: 80px;
    font: bold 14px Arial,Helvetica,sans-serif;
    margin-top: 130px;
    margin-bottom: 20px
}
.addButton a{
    font: bold 12px Arial,Helvetica,sans-serif; 
    margin: 0px;
    text-align: center;
    text-decoration: none
}
.select{
    float:left;
    width:315px;
    margin-top: 20px;
    margin-left: 20px;
}
.ui-multiselect { padding:2px 0 2px 4px; text-align:left }
.ui-multiselect span.ui-icon { float:right }
.ui-multiselect-single .ui-multiselect-checkboxes input { position:absolute !important; top: auto !important; left:-9999px; }
.ui-multiselect-single .ui-multiselect-checkboxes label { padding:5px !important }

.ui-multiselect-header { margin-bottom:3px; padding:3px 0 3px 4px }
.ui-multiselect-header ul { font-size:0.9em }
.ui-multiselect-header ul li { float:left; padding:0 10px 0 0 }
.ui-multiselect-header a { text-decoration:none }
.ui-multiselect-header a:hover { text-decoration:underline }
.ui-multiselect-header span.ui-icon { float:left }
.ui-multiselect-header li.ui-multiselect-close { float:right; text-align:right; padding-right:0 }

.ui-multiselect-menu { display:none; padding:3px; position:absolute; z-index:10000 }
.ui-multiselect-checkboxes { position:relative /* fixes bug in IE6/7 */; overflow-y:scroll }
.ui-multiselect-checkboxes label { cursor:default; display:block; border:1px solid transparent; padding:3px 1px }
.ui-multiselect-checkboxes label input { position:relative; top:1px }
.ui-multiselect-checkboxes li { clear:both; font-size:0.9em; padding-right:3px }
.ui-multiselect-checkboxes li.ui-multiselect-optgroup-label { text-align:center; font-weight:bold; border-bottom:1px solid }
.ui-multiselect-checkboxes li.ui-multiselect-optgroup-label a { display:block; padding:3px; margin:1px 0; text-decoration:none }

